In [35]:
#importing the libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
#loading the csv file
s = pd.read_csv('Salary Data.csv')

In [29]:
# Handle missing values
s['Age'].fillna(round(s['Age'].mean()), inplace=True)
s['Years of Experience'].fillna(round(s['Years of Experience'].mean()), inplace=True)
s['Salary'].fillna(round(s['Salary'].mean()), inplace=True)
s['Gender'].fillna(s['Gender'].mode().iloc[0], inplace=True)
s['Job Title'].fillna(s['Job Title'].mode().iloc[0], inplace=True)
s['Education Level'].fillna(s['Education Level'].mode().iloc[0], inplace=True)

In [39]:
print(s.head())

    Age  Gender Education Level          Job Title  Years of Experience  \
0  32.0    Male      Bachelor's  Software Engineer                  5.0
1  28.0  Female        Master's       Data Analyst                  3.0
2  45.0    Male             PhD     Senior Manager                 15.0
3  36.0  Female      Bachelor's    Sales Associate                  7.0
4  52.0    Male        Master's           Director                 20.0

     Salary
0   90000.0
1   65000.0
2  150000.0
3   60000.0
4  200000.0

In [31]:
print(s.columns)

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [32]:
print(s.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
Age                    375 non-null float64
Gender                 375 non-null object
Education Level        375 non-null object
Job Title              375 non-null object
Years of Experience    375 non-null float64
Salary                 375 non-null float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB
None

In [33]:
print(s.shape)

(375, 6)

In [34]:
print(s.isna().sum())

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64